.navbar-brand
img
{
    width: 100px;
    
}
#boton_verde
{
    color: #25a342;
}
.carousel-item
{
    opacity: 100%;


}
.card-title1
{ 
    color: white;
}
.card-text1{color: white;}

#exampleFormControlTextarea1
{ color: grey;}
.btn
{
    background-color:#6FC224;
}
p2
{
    font-size: 13px;
    color: grey;
}
p3
{
    color: white;
}